{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Repository</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    {% comment %} <nav>
      <ul>
        <li>
          <a href="{% url 'home' %}">Repository</a>
        </li>
        <li>
          <a href="{% url 'admin:index' %}">Admin</a>
        </li>
        <li>
          <a href="{% url 'recipe_new' %}">Add a Book</a>
        </li>
      </ul>
    </nav> {% endcomment %}
  </header>
  <main class="book-grid">
    {% for book in books %}
      <div class="book-card">
        <img src={{ book.image}} alt="Book Cover">
        <h1>
          <a href={% url 'book_detail' book.pk %}>{{ book.title }}</a>
        </h1>
        <h2>{{ book.author }}</h2>
        <p>{{ book.pages }}</p>
        <p>{{ book.isbn }}</p>
        <p>{{ book.description }}</p>
        <p>{{ book.year_published}}</p>
        <p>
          <a href={% url 'delete_book' book.pk %}>Delete this book?</a>
        </p>
      </div>
    {% endfor %}
  </main>
</body>

</html>
